@charset "utf-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ImcreSoojin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Pretendard-Regular", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  height: 15%;
  background: #4e4e4e;

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(178, 178, 178, 0.1);
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

/* layout */
.title {
  font-family: "establishRetrosansOTF";
}
/* gotop */
.go-top {
  position: fixed;
  right: -3%;
  bottom: 3%;
  display: block;
  z-index: 99999;
  transition: all 0.4s;
}
.go-top.active {
  right: 3%;
}
.go-top button {
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  text-align: center;
  background-color: #333;
  cursor: pointer;
}

.go-top button i {
  font-size: 35px;
  color: #fff;
}

/* quick-bt */
.quick-wrap {
  position: fixed;
  right: -280px;
  top: 80%;
  transform: translate(-50%, -50%);
  display: block;
  width: 200px;
  z-index: 9999;
  transition: all 0.3s;
}

.quick-wrap.active {
  right: -180px;
}
.quick-wrap:hover {
  right: -180px;
}
.quick-wrap > ul {
  display: block;
  width: 100%;
  height: 100%;
}

.quick-wrap > ul > li {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #000;
}

.quick-wrap > ul > li:hover {
  background-color: #cccccc;
}

.quick-wrap > ul > li > a {
  font-size: 32px;
  text-align: center;
  display: block;
  padding: 18px 0;
  color: #fff;
}

.con-list {
  position: absolute;
  right: 100%;
  top: 0;
  display: none;
  width: 80px;
  height: 180px;
}

.con-list.active {
  display: block;
  -webkit-animation: scale-up-tr 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-tr 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.con-list li {
  position: relative;
  display: block;
  width: 95%;
  height: calc(100% / 3);
  margin: 0 auto;
  margin-bottom: 10px;
}

.con-list li:last-child {
  margin-bottom: 0;
}

.con-list li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
}

.con-list li a:hover {
  background-color: rgb(126, 126, 126);
}

.wrap {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header .logo {
  display: block;
  height: 90px;
  width: 150px;
  text-indent: -9999px;
  background: url("../images/Color\ logo\ -\ no\ background.png") no-repeat
    center;
  background-size: 80%;
}

.header .gnb {
  position: relative;
  display: block;
  width: calc(100% - 350px);
  height: 100%;
  text-align: center;
}

.gnb li {
  display: inline-block;
  width: 100px;
  height: 100%;
  padding: 15px 0;
  margin-left: 47px;
}

.gnb li:first-child {
  margin-left: 0;
}

.gnb li a {
  position: relative;
  display: block;
  color: #fff;
  transition: all 0.3s;
}

.gnb li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s;
}

.gnb li:hover a::after {
  width: 50%;
  top: 100%;
}

.side-menu {
  display: none;
  width: 40px;
  height: 40px;
}

.side-menu a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.side-menu a div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 4px;
  background-color: #fff;
}

.side-menu a::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  width: 80%;
  height: 4px;
  background-color: #fff;
}

.side-menu a::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  width: 80%;
  height: 4px;
  background-color: #fff;
}

.side-menu-dim {
  position: fixed;
  left: 100;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
}

.side-menu-dim.active {
  left: 0;
  display: block;
}

.side-menu-wrap {
  position: absolute;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
}

.side-title {
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
  align-self: center;
  position: relative;
  width: 100%;
  height: 80px;
  font-size: 32px;
  padding: 25px 20px;
  border-bottom: 4px double rgba(0, 0, 0, 0.08);
}

.side-title .close {
  display: block;
  width: 30px;
  height: 30px;
}

.side-title .close i {
  transition: all 0.5s;
}

.side-title .close:hover i {
  transform: rotate(90deg);
}

.side-menu-list {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.side-menu-list > li {
  height: 80px;
  font-size: 22px;
  padding: 25px;
}

.side-menu-list > li:hover {
  background-color: rgba(178, 178, 178, 0.1);
}

/* visual */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  transition: all 0.5s;
  overflow: hidden;
}

.visual .inner {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.visual .visual-bg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 58%;
  height: 550px;
  box-shadow: 5px 5px 3px #666;
  transition: all 0.5s;
}

.visual-img {
  position: absolute;
  left: -50px;
  top: 10px;
  display: block;
  width: 1000px;
  height: 600px;
  padding: 0 20px;
  transition: all 0.5s;
  animation: fade-in 2.5s linear 0.5s;
  background: url("../images/sam.jpg") no-repeat center;
  background-size: 90%;
  filter: grayscale(100%);
  -webkit-animation: flip-in-diag-2-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-diag-2-tl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes flip-in-diag-2-tl {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 80deg);
    transform: rotate3d(-1, 1, 0, 80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}
@keyframes flip-in-diag-2-tl {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 80deg);
    transform: rotate3d(-1, 1, 0, 80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    margin-top: 50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.visual .visual-txt {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  text-align: right;
  transition: all 0.5s;
  -webkit-animation: focus-in-expand 1s ease-in-out both;
  animation: focus-in-expand 1s ease-in-out both;
}

.visual-txt .title {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}

.visual-txt .desc {
  font-size: 35px;
  font-weight: 600;
}

/* profile */
.profile {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 50px 0;
  transition: all 0.5s;
}

.profile .profile-txt {
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  width: 50%;
  height: 100%;
  z-index: 9;
  transition: all 0.5s;
}

.profile .title {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 80px;
  transition: all 0.5s;
}

.profile .title span {
  display: block;
}

.profile .desc {
  background-color: #fff;
  height: 75%;
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.profile .desc b {
  font-size: 26px;
  margin: 0 15px;
}

.profile .profile-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.profile-img > div {
  position: absolute;
  display: block;
  width: 1000px;
  height: 360px;
  overflow: hidden;
  filter: grayscale(100%);
}

.pi-top {
  top: 240px;
  right: -300px;
  margin-bottom: 20px;
  background: #000 url("../images/backgum.jpg") no-repeat;
  background-position: top right;
  background-size: 80%;
}

.pi-bottom {
  top: 620px;
  right: 0;
  background: #000 url("../images/doong.jpg") no-repeat;
  background-position: left center;
  background-size: 80%;
}

/* portfolio */
.portfolio {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

/* pf-top */
.portfolio .inner {
  padding: 0 20px;
}

.portfolio .pf-top::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100vh;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #f7f7f7;
  z-index: -1;
}

.pf-top {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px 0 70px;
}

.pf-top .title {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  font-size: 60px;
  font-weight: 700;
  transform: rotate(90deg) translate(30%, -30%);
}

.pf-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.pf-img-wrap {
  display: block;
  width: 45%;
  height: 700px;
  background-color: #000;
  overflow: hidden;
}

.sw-portfolio-thum {
  width: 98%;
  height: 98%;
  margin: 5px auto;
}

.pf-img-wrap img {
  width: 100%;
  filter: grayscale(1);
}

.pf-img-wrap a:hover img {
  filter: none;
}

.pf-img-wrap .work-clone {
  width: 98%;
  height: 98%;
  border: 2px solid #fff;
  margin: 0 auto;
  display: block;
  color: #fff;
  font-size: 33px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  background: url("../images/ideakong-w.png") no-repeat center;
}

.pf-txt-wrap {
  width: 40%;
}

.pf-category {
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
}

.pf-txt-wrap .txt-wrap {
  position: relative;
  width: 450px;
  margin: 0 auto;
  height: 550px;
  background-color: #444;
  padding: 10px;
  color: #fff;
}

.txt-wrap .pf-quick {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pf-quick a {
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.pf-quick a:hover {
  font-weight: 600;
  border-bottom: 2px solid #fff;
}
.sw-port-control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  z-index: 99;
}

.sw-port-control button {
  font-size: 30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* pf-mid */
.pf-mid {
  position: relative;
}

.pf-mid .pf-content-m {
  position: relative;
  padding: 40px 20px 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.pf-content-m > div {
  display: block;
  width: 50%;
  height: 100%;
}

.pf-content-l {
  padding-bottom: 100px;
}

.content-txt {
  text-align: right;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 20px;
}

.content-txt .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.content-txt .pf-quick {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content-txt .pf-quick a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.content-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 5px 5px;
  height: calc(100% - 20%);
  background-color: #e7e7e7;
  overflow: hidden;
}

.content-wrap li {
  width: 98%;
  height: 98%;
  margin: 0 auto;
}

.content-wrap li img {
  width: 100%;
  transition: all 0.5s;
  filter: grayscale(1);
}

.content-wrap li:hover img {
  filter: none;
}

.pf-content-r {
  margin-top: 50px;
  padding-top: 150px;
}

.pf-content-r .content-txt {
  text-align: left;
}

.pf-mid .title {
  position: absolute;
  left: 5%;
  bottom: 0;
  transform: translateY(50%);
  font-size: 140px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.08);
}

.pf-mid .title i {
  font-style: italic;
}

/* pf-bottom */
.pf-bottom {
  height: 100%;
}

.pf-bottom .pf-content-m {
  position: relative;
  padding: 40px 20px 0;
  display: flex;
  width: 100%;
  height: 100vh;
}

.pf-bottom .pf-content-l {
  margin-top: 70px;
  padding-bottom: 0;
}

.pf-bottom .pf-content-l .content-txt {
  text-align: left;
}

.pf-bottom .pf-content-r {
  margin-top: 20px;
  padding-top: 0;
}

.sw-work-thum {
  position: relative;
}

.sw-work-thum .swiper-wrapper {
  position: relative;
}

.sw-work-thum .swiper-slide {
  background: #000 url("../images/ideakong-w.png") no-repeat;
  background-position: 50% 80%;
}

.sw-work-thum .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.sw-work-thum .work-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 80%;
  height: 80%;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  padding: 80px 0;
  font-weight: 700;
  font-size: 38px;
}

.sw-work-thum .sw-work-pagination {
  position: absolute;
  top: auto;
  bottom: 0;
  height: 10px;
}

.pf-bottom .pf-content-r .content-txt {
  text-align: right;
}
.sw-work-thum .sw-work-pagination .swiper-pagination-progressbar-fill {
  background-color: #444;
}
/* career */
.career {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px 0;

  transition: all 0.5s;
}

.career .title {
  position: relative;
  font-size: 50px;
  font-weight: 600;
  z-index: 10;
  transition: all 0.5s;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
}

.career .title strong {
  font-size: 60px;
  font-weight: bold;
}

.career .title span {
  font-size: 30px;
}

.career .inner > .content-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 170px);
  padding: 30px;
  transition: all 0.5s;
}
.career .content-box > div {
  background-color: #f1f1f1;
  box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.2);
}
.career-box {
  position: relative;
  width: 45%;
  height: 100%;
}

.career-box .sub-title {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  z-index: 99;
}

.box-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.box-content > li {
  background-color: rgb(205, 205, 205);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
  padding: 15px 10px;
  border-radius: 10px;
  margin: 10px auto;
  width: 95%;
  height: 100%;
  color: rgb(36, 36, 36);
}

.box-content > li > span {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.box-content > li ul {
  margin-left: 10px;
}

.box-content > li ul li {
  font-size: 16px;
}

.exper-box {
  position: relative;
  width: 45%;
  height: 100%;
}

.exper-box .sub-title {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  z-index: 99;
}

.exper-box .sub-title span {
  font-size: 20px;
}

/* mbti */
.mbti {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #333;
  margin: 65px 0;
  padding: 50px 0;
}

.mbti .inner {
  position: relative;
  padding: 0 5%;
}

.mbti-txt {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 20px 0;
  color: #fff;
  -webkit-animation: text-pop-up-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes text-pop-up-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@keyframes text-pop-up-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

.mbti-txt .title {
  font-size: 55px;
  font-weight: 700;
  transition: all 0.5s;
}

.mbti-txt .title span {
  margin: 0 20px;
  font-size: 40px;
}

.mbti-txt .desc {
  font-size: 24px;
  margin-bottom: 10px;
}

.mbti-txt .desc > span {
  font-size: 24px;
  font-weight: 700;
}

.mbti-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: calc(100% - 30%);
}
.chart-container {
  position: relative;
  transition: all 0.5s;
  width: 30vw;
  height: 45vh;
  background-color: #333;
}
.mbti-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 55%;
  height: 400px;
}

.mbti-wrap ul {
  position: relative;
  display: block;
  width: 45%;
  height: 100%;
  background-color: #e7e7e7;
  border-radius: 15px;
  box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.2);
}

.mbti-wrap li {
  height: calc(100% / 3);
  padding: 15px 20px;
}

.mbti-wrap li span {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

/* contact */
.contact {
  position: relative;
  display: block;
  width: 100%;
  height: 50vh;
  transition: all 0.5s;
}

.contact .inner {
  padding: 50px 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.contact .title {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  transition: all 0.5s;
  transform: rotate(-90deg);
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc;
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px) rotate(-90deg);
    transform: translateY(-50px) rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc;
  }
}

.contact-list {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  width: 50vw;
  height: 240px;
  text-align: center;
  padding-top: 30px;
}

.contact-list li {
  width: calc(100% / 3);
  height: 100%;
}

.contact-list li > i {
  display: none;
}
.contact-list li > a {
  position: relative;
  display: block;
  width: 50%;
  height: 160px;
  background-color: rgb(247, 247, 247);
  border-radius: 50%;
  box-shadow: 3px 5px 2px rgba(178, 178, 178, 1);
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}
.contact-list li > a > i {
  position: relative;
  font-size: 60px;
  line-height: 2.8em;
  color: rgb(86, 86, 86);
}

/* footer */
.footer {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 1px solid #e7e7e7;
}

.footer .inner {
  padding: 40px 0;
}

.footer .copy {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

/* ============ */

@media all and (max-width: 1300px) {
  .header .gnb {
    display: flex;
  }

  .profile .inner {
    padding: 30px 0;
  }

  .profile .profile-txt {
    width: 100%;
  }

  .profile .title {
    font-size: 80px;
    line-height: 70px;
    margin-bottom: 40px;
  }

  .profile .title span {
    display: inline;
  }
  .profile .desc {
    background-color: transparent;
  }
  .box-content > li > span {
    font-size: 18px;
  }

  .box-content > li ul li {
    font-size: 14px;
  }

  /* mbti */
  .mbti {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .mbti .inner {
    position: relative;
    padding: 0 5%;
  }

  .mbti-txt {
    display: block;
    padding: 15px 0;
    animation: none;
  }

  .mbti-txt .title {
    font-size: 60px;
  }

  .mbti-txt .title span {
    margin: 0 20px;
    font-size: 30px;
  }

  .mbti-txt .desc {
    font-size: 26px;
  }

  .poss-contents {
    width: 400px;
    height: 400px;
  }
}

@media all and (max-width: 1100px) {
  .career {
    height: 100%;
    padding: 30px 0;
  }

  .career .title {
    font-size: 50px;
  }

  .career .title strong {
    font-size: 55px;
  }

  .career .title span {
    font-size: 30px;
  }

  .career .inner > div {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    width: 100%;
    padding: 30px;
    margin-bottom: 50px;
  }

  .career .inner > div:last-child {
    margin-bottom: 0;
  }

  .career .sub-title {
    display: none;
  }

  .exper-box .box-content {
    text-align: left;
  }
}

@media all and (max-width: 900px) {
  .header .gnb {
    display: none;
  }

  .header .side-menu {
    display: block;
  }

  .visual .visual-txt {
    color: #fff;
  }
}

@media all and (max-width: 800px) {
  .visual {
    height: 80vh;
    overflow: hidden;
  }

  .visual .visual-txt {
    width: 100%;
  }

  .profile .profile-txt {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .profile .title {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
  }

  .profile .title span {
    display: inline;
  }

  .profile .desc {
    position: absolute;
    top: 35%;
    left: 3%;
    color: #fff;
  }

  .profile .profile-img {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .profile-img > div {
    position: relative;
    width: 90%;
    margin-right: 10px;
    margin-bottom: 0;
    height: 100%;
    top: 0;
    left: 0;
  }

  .profile-img > div:last-child {
    margin-right: 0;
  }
}

@media all and (max-width: 500px) {
  .go-top {
    right: 10px;
    bottom: 10px;
  }
  .quick-wrap {
    top: 90%;
    right: 0;
    width: 100%;
    height: 100px;
    display: none;
    transform: translate(0, 0);
    transition: all 0.3s;
  }
  .quick-wrap:hover {
    right: 0;
  }
  .quick-wrap.active {
    right: 0;
    display: block;
  }
  .quick-wrap > ul {
    display: flex;
    align-items: center;
  }

  .quick-wrap > ul > li {
    width: 50px;
    height: 50px;
    margin: 0 30px;
    background-color: #333;
  }

  .quick-wrap > ul > li > a {
    font-size: 24px;
    padding: 0;
    line-height: 50px;
  }

  .header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .visual {
    height: 80vh;
  }

  .visual .inner {
    background-color: #fff;
    padding: 0;
    margin-bottom: 30px;
  }

  .visual .visual-bg {
    width: 100%;
    height: 95%;
    background-color: #d1d1d1;
  }

  .visual .visual-img {
    position: relative;
    display: block;
    width: 100%;
  }

  .visual .visual-txt {
    top: 30%;
  }

  .profile .title {
    font-size: 32px;
  }

  .profile .title span {
    font-size: 24px;
  }

  .profile .desc {
    font-size: 16px;
  }

  /* portfolio */
  .pf-top .title {
    left: 0;
    top: -100px;
    transform: rotate(0) translate(0, 0);
  }

  .pf-content {
    display: block;
    width: 100%;
  }

  .pf-img-wrap {
    width: 98%;
    height: 400px;
    margin: 0 auto;
  }

  .sw-portfolio-thum {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .pf-txt-wrap {
    width: 100%;
    height: calc(100% - 400px);
    overflow: hidden;
  }

  .pf-category {
    font-size: 18px;
    font-weight: 600;
  }

  .txt-wrap .pf-quick {
    top: 100px;
  }

  .pf-mid {
    position: relative;
    padding: 20px 0;
  }

  .pf-mid .pf-content-m {
    position: relative;
    padding: 0;
    display: block;
    width: 100%;
    height: 100vh;
  }

  .pf-content-m > div {
    width: 100%;
    height: 50%;
    margin-bottom: 30px;
  }

  .sw-study-thum {
    margin-bottom: 30px;
  }

  .pf-content-l {
    position: relative;
    padding-bottom: 0;
  }

  .pf-bottom .pf-content-m {
    padding: 0;
    display: block;
    width: 100%;
    height: 100vh;
  }

  .content-txt {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    text-align: right;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 20px;
    z-index: 99;
  }

  .content-txt .sub-title {
    font-size: 18px;
    font-weight: 600;
    color: #000;
  }

  .content-txt .pf-quick a {
    font-size: 14px;
  }

  .content-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 98%;
    height: 100%;
  }

  .pf-content-r {
    position: relative;
    margin-top: 0;
    padding-top: 0;
  }

  .pf-content-r .content-txt {
    text-align: left;
  }

  .pf-mid .title {
    display: none;
  }

  /* pf-b */

  .career {
    height: 100%;
    padding: 30px 0;
  }

  .career .title {
    top: 40%;
    font-size: 30px;
  }

  .career .title strong {
    font-size: 35px;
  }

  .career .title span {
    font-size: 20x;
  }

  .mbti {
    height: 100%;
  }

  .mbti .inner {
    position: relative;
    padding: 0 3%;
  }

  .mbti-txt {
    display: block;
    padding: 20px 0;
    animation: none;
  }

  .mbti-txt .title {
    font-size: 50px;
  }

  .mbti-txt .title span {
    margin: 0 20px;
    font-size: 20px;
  }

  .mbti-txt .desc {
    padding: 20px;
    font-size: 18px;
  }

  .poss-contents {
    display: none;
  }

  .contact {
    height: 100%;
  }

  .contact .inner {
    padding: 40px 0;
  }

  .contact .title {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    animation: none;
    transform: none;
    font-size: 50px;
  }

  .contact-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 70px);
    float: none;
    text-align: center;
  }

  .contact-list li {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: rgb(220, 220, 220);
    border-radius: 50%;
  }

  .contact-list li i {
    display: block;
    font-size: 30px;
    line-height: 77px;
  }

  .contact-list li a {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    cursor: pointer;
  }
}
